# ----------------------------
# Python Bytecode
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environments
# ----------------------------
env/
venv/
ENV/
.venv/
# pipenv
Pipfile.lock

# ----------------------------
# Distribution / Packaging
# ----------------------------
build/
dist/
*.egg-info/
.eggs/
*.whl

# ----------------------------
# Logs and temporary files
# ----------------------------
*.log
*.tmp
*.bak
*.swp

# ----------------------------
# IDEs and Editors
# ----------------------------
# VS Code
.vscode/
# PyCharm
.idea/

# ----------------------------
# Environment / Secrets
# ----------------------------
.env
*.env
*.env.*
.venv

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Testing / Coverage
# ----------------------------
.coverage
.tox/
.nox/
.pytest_cache/
.cache/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Output directories
# ----------------------------
sec_10k_output/